name: 定时清理执行日志

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions: write-all

concurrency:
  group: workflow-runs-cleaner
  cancel-in-progress: true

jobs:
  delete-workflow-runs:
    runs-on: ubuntu-latest

    steps:
      - name: 清理执行日志
        uses: dongchengjie/workflow-runs-cleaner@v1
        with:
          repository: ${{ github.repository }}
          token: ${{ secrets.GITHUB_TOKEN }}
          maintain-span: "1d"
